*{
	margin: 0;
	padding: 0;
}
p{
	color:red;
	font-family: serif;
	font-variant: small-caps;
	font-style: italic;
	font-weight: lighter;
}
#textcss{
	color:purple;
	letter-spacing: 2px;
	word-spacing: 5px;
	direction: rtl;
	/*direction: ltr;*/
	text-indent: 50px;
	text-align: right;
	text-transform:uppercase;

}
a:link{
	color:red;
}
a:hover{
	color:pink;
}
a:active{
	color:yellow;
}
a:visited{
	color:blue;
}
a:active{
	color:green;
}
/**#textcss{
	font-family: 'amily=Tangerine',sans-serif;
	color:red;
}**/