/**{
	margin: 0;
	padding: 0;
}*/
.boxmodel{
	width: 400px;
	height: 200px;
	background-color: green;


}
input{
	padding-left: 10px;
	margin: 20px;
}
.para{
	width: :80px;
	height: 50px;
	border:1px solid red;
	/*overflow: hidden;*/
	/*overflow: auto;*/
	overflow:scroll;
	
}
.father{
	background-color: pink;
	width:300px;
	height: 200px;
	position: relative;
}
.child1{
	height: 50px;
	width: :40px;
	background-color: red;
	position:absolute;
	left:0;
}
.child2{
	height: 50px;
	width: :40px;
	background-color: brown;
	position:absolute;
	right:0;
}
.child3{
	height: 50px;
	width: :40px;
	background-color: black;
	position: absolute;
	bottom:0;
	right:0;
}
.child4{
	height: 50px;
	width: :40px;
	background-color: purple;
	position: absolute;
	bottom:0;
	
}
p{
	color:red;
	font-family: serif;
	font-variant: small-caps;
	font-style: italic;
	font-weight: lighter;
}
#textcss{
	color:purple;
	letter-spacing: 2px;
	word-spacing: 5px;
	direction: rtl;
	/*direction: ltr;*/
	text-indent: 50px;
	text-align: right;
	text-transform:uppercase;

}
a:link{
	color:red;
}
a:hover{
	color:pink;
}
a:active{
	color:yellow;
}
a:visited{
	color:blue;
}
a:active{
	color:green;
}
.borderclass{
	width: 200px;
	height: 100px;
	background-color: red;
	border-width:5px;
	border-color:black;
	border-style: dotted;


}
ul{
	list-style-type: square;
}
/**#textcss{
	font-family: 'amily=Tangerine',sans-serif;
	color:red;
}**/